body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    color: white;
    font-family: "JetBrains Mono", sans-serif;
}

.secao-destaque, .secao-calendario{
    background-color: #00005f;
}

.secao-conteudo, #rodape{
    background-color: #00002a;
}

.texto-superior-principal{
    font-size: 22px;
    font-weight: 800;
}

.titulo-principal{
    font-size: 70px;
    font-weight: 900;
    padding: 32px 0;
}

.paragrafo-padrao{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 32px;
}

.texto-superior-secundario{
    font-size: 15px;
}

.titulo-secundario{
    font-size: 42px;
    padding: 32px 0;
}

.titulo-terciario{
    font-size: 31px;
}

.paragrafo-menor{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

svg{
    fill: white;
}

.secao-destaque, .secao-conteudo, .secao-calendario{
    padding: 80px;
}

#rodape {
    padding: 32px 0;
    text-align: center;

}

.botao-chamada{
    font-family: "JetBrains Mono", sans-serif;
    background-color: #00ffa5;
    padding: 25px 50px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}